---
title: Categories
layout: default
---
{% include header.html %}
<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>CATEGORIES</h2>
</div>
<main class="tags-content">
    <ul class="tags-list">
{% assign sortedcategories = site.categories | sort %}
{% for category in sortedcategories %}
<li>
    <h2>{{ category[0] | capitalize }}</h2>
    
        {% assign pages_list = category[1] %}
        {% for node in pages_list %}
            {% if node.title != null %}
            {% if group == null or group == node.group %}
                <span class="tag-post">
                    {% assign date_format = site.date_format.categories %}
                    {{ node.date | date: '%Y-%m-%d' }} </span><a href="{{ site.baseurl}}{{ node.url }}">{{ node.title }}</a>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
</li>
{% endfor %}
</ul>
</main>

{% include footer.html %}