---
layout: bootstrap
title: 独行深山
---
 <div class="row">
        <div class="col-sm-8 blog-main">

{% for post in paginator.posts %}
    <div class="blog-post">
			<h2 class="blog-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<p class="blog-post-meta">{{ post.date | date_to_string }}</p>
			{{ post.content }}
		</div>
{% endfor %}

	{% if paginator.total_pages > 1 %}
	<ul class="pager">
		{% if paginator.previous_page %}
	    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a></li>
		{% endif %}

		{% if paginator.next_page %}
	    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a></li>
		{% endif %}
	</ul>
	{% endif %}
	</div>

	<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	    <div class="sidebar-module sidebar-module-inset">
	      <h4>广告</h4>
	      <p>此广告位<em>招租</em>，长期招租 :) </p>
	    </div>
	    
	    <div class="sidebar-module">
	      <h4>存档</h4>
	      <ol class="list-unstyled">
	     {% for post in site.posts %}
	      <li><a href="{{ post.url }}">{{ post.date | date_to_long_string }}</a></li>
	     {% endfor %}
	      </ol>
	    </div>

	    <div class="sidebar-module">
	      <h4>Elsewhere</h4>
	      <ol class="list-unstyled">
	        <li><a href="https://github.com/stardust1900">GitHub</a></li>
	        <li><a href="http://douban.com/people/stardust1900">Douban</a></li>
	        <li><a href="http://weibo.com/halfg0d">Weibo</a></li>
	      </ol>
	    </div>
	</div>
</div>

