---
layout: bootstrap
title: 独行深山
---
 <div class="row">
        <div class="col-sm-9 blog-main">

		{% for post in paginator.posts %}
		    <div class="blog-post">
					<a href="{{ post.url }}"><h2 class="blog-post-title">{{ post.title }}</h2></a>
					<p class="blog-post-meta">{{ post.date | date:"%Y-%m-%d" }}
						{% if post.author %}
							by {{ post.author }}
                        {% endif %}
					{% if post.tags.size > 0 %}
			              <span class="glyphicon glyphicon-tags" aria-hidden="true"></span> 
			        {% endif %}

		              {% for tag in post.tags %}
		                <span class="label label-default">{{tag}}</span>
		              {% endfor %}
					</p>
					{{ post.excerpt }}

                    <p class="text-right"><a href="{{ post.url | prepend: site.baseurl }}" role="button">Read All &raquo;</a></p>
			</div>
		{% endfor %}

		{% if paginator.total_pages > 1 %}
		<ul class="pager">
			{% if paginator.previous_page %}
		    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a></li>
			{% endif %}

			{% if paginator.next_page %}
		    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a></li>
			{% endif %}
		</ul>
		{% endif %}

		</div>

	<div class="col-sm-2 col-sm-offset-1 blog-sidebar">
	    <div class="sidebar-module sidebar-module-inset">
	      <h4>广告</h4>
	      <p>此广告位<em>招租</em> :) </p>
	    </div>
	    
	    <div class="sidebar-module">
		<h4><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> Tags</h4>
	    {% assign first = site.tags.first %}
        {% assign max = first[1].size %}
        {% assign min = max %}
        {% for tag in site.tags offset:1 %}
          {% if tag[1].size > max %}
            {% assign max = tag[1].size %}
          {% elsif tag[1].size < min %}
            {% assign min = tag[1].size %}
          {% endif %}
        {% endfor %}

        {% if max == min %}
            {% assign diff = 1 %}
        {% else %}
            {% assign diff = max | minus: min %}
        {% endif %}

        {% for tag in site.tags %}
          {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
          {% assign base = temp | divided_by: 4 %}
          {% assign remain = temp | modulo: 4 %}
          {% if remain == 0 %}
            {% assign size = base | plus: 9 %}
          {% elsif remain == 1 or remain == 2 %}
            {% assign size = base | plus: 9 | append: '.5' %}
          {% else %}
            {% assign size = base | plus: 10 %}
          {% endif %}
          {% if remain == 0 or remain == 1 %}
            {% assign color = 9 | minus: base %}
          {% else %}
            {% assign color = 8 | minus: base %}
          {% endif %}
          <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">
          	<span class="label label-default">{{ tag[0] }}</span></a>
        {% endfor %}
	    </div>

	    <div class="sidebar-module">
	      <h4>Categories</h4>
	      <ol class="list-unstyled">
	        {% for category in site.categories %}
                    <li>
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
            {% endfor %}
	      </ol>
	    </div>
	</div>
</div>

